
*.tfstate
*.tfstate.*
crash.log


.terraform/


*.tfplan


override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json


*.log


.vscode/
.idea/
*.swp
*.bak
*.tmp


.DS_Store


*~


Thumbs.db
